/* Navigation */

.site-navigation-wrapper {
	/* by default it's hidden - on bottom of the viewport */
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(17,17,17, .9);
	z-index: 998;	
	opacity: 1;	

	@include backface-visibility(hidden);

	// Flexbox
	//@include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(flex-start);

	overflow-x: hidden;
	overflow-y: auto;
	/* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
	-webkit-overflow-scrolling: touch;

	@include transform(translateY(-100%));
	@include transition-property(transform);
	@include transition-duration(.2s);
	//@include transition(all .2s linear);

	&.is-visible {
		@include transform(translateY(0));
		opacity: 1;
	}

}

.main-navigation {
	text-align: center;
	opacity: 0;
	margin: auto;
	padding: $spacing--l;	

	@include transition(all .8s ease-in-out);
	@include transition-delay(0.2s);

	> ul {
		display: inline-block;
	}

	li {
		font-size: 1.4em;
		padding-bottom: $spacing--s;
		margin-bottom: $spacing--s;
		border-bottom: 1px solid rgba(white, .1);
		@include media($large-screen) {
			font-size: 2em;
		}
	}	

	li:last-child {		
		border: none;
	}

	a {		
		display: inline-block;
	}

	.sub-menu {
		padding: 0;

		li {
			font-size: .6em;
			border: none;
			padding-bottom: .4em;
			padding-top: .4em;
			margin: 0;		

			ul {
				padding: 0;

				li {
					padding-bottom: .2em;
					padding-top: .2em;
				}
			}
		}
		
		li:last-child {
			margin-bottom: 0;
			border: none;
		}
	}

}

.site-navigation-wrapper.is-visible .main-navigation {
	opacity: 1;
}

/* Menu Icon */

.primary-nav-trigger {
	position: absolute;
	right: 0;
	//top: 0;
	//height: 100%;
	width: 30px;
	z-index: 999;

	.menu-icon {
		/* this span is the central line of the menu icon */
		display: inline-block;
		position: relative;
		@include center;
		width: 22px;
		height: 1px;
		background-color: white;
		@include transition(background-color .3s);
		
		/* these are the upper and lower lines in the menu icon */
		&::before, &:after {
			content: '';
			width: 100%;
			height: 100%; 
			position: absolute;
			background-color: white;
			right: 0;

			-webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
			-moz-transition: -moz-transform .3s, top .3s, background-color 0s;
			transition: transform .3s, top .3s, background-color 0s;
		}
		
		&::before {
			top: -7px;
		}

		&::after {
			top: 7px;
		}

		&.is-clicked {
			background-color: rgba(white, 0);

			&::before, &::after {
				background-color: rgba(white, 1);
			}

			&::before {
				top: 0;
				@include transform(rotate(135deg));
			}

			&::after {
				top: 0;
				@include transform(rotate(225deg));
			}
		}

	}

}
