/* Mobile Navigation */

.main-navigation.toggled > ul {	
	top: 0;
	z-index: $z__content--above;
}

.main-navigation > ul {	
	position: fixed;
	top: -120%;
	left: 0;
	width: 100%;
	height: 100%;

	padding: $spacing--xl $spacing--s;
	
	font-size: $font-size__h5;
	text-align: center;
	background-color: rgba(0, 0, 0, .9);	
	
	@include transition(all 0.2s linear);
	@include backface-visibility(hidden);

	overflow: auto;
	/* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
	-webkit-overflow-scrolling: touch;

	ul {
		font-size: $font-size__medium;
		margin: $spacing--xs 0;		
		ul {
			font-size: $font-size__small;
		}
	}

	> li {
		margin-bottom: $spacing--xs;		
	}

	.current-menu-item a {
		color: $color__link--hover;
	}

}

/* Hamburger Menu Icon */

$menu-icon-color: white;

.primary-nav-trigger {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 50px;
	width: 50px;
	border: $border--base;
	z-index: $z__above-all;

	.menu-icon {
		/* this span is the central line of the menu icon */
		display: inline-block;
		position: absolute;
		@include center;
		width: 22px;
		height: 1px;
		background-color: $menu-icon-color;
		@include transition(background-color .3s);

		
		/* these are the upper and lower lines in the menu icon */
		&::before, &:after {
			content: '';
			width: 100%;
			height: 100%; 
			position: absolute;
			background-color: $menu-icon-color;
			right: 0;

			-webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
			-moz-transition: -moz-transform .3s, top .3s, background-color 0s;
			transition: transform .3s, top .3s, background-color 0s;
		}
		
		&::before {
			top: -7px;
		}

		&::after {
			top: 7px;
		}

		&.is-clicked {
			background-color: transparent;

			&::before, &::after {
				background-color: $menu-icon-color;
			}

			&::before {
				top: 0;
				@include transform(rotate(135deg));
			}

			&::after {
				top: 0;
				@include transform(rotate(225deg));
			}
		}
		
	}

	@include media($large-screen) {
		display: none;			
	}

}

/* Desktop Navigation */

@include media($large-screen) {

	.nav-menu {
		float: right;
	}

	.main-navigation > ul {	
		position: relative;
		width: auto;
		list-style: none;

		// Reset from mobile nav settings
		background: none;		
		padding: 0;
		font-size: $font-size__base;
		text-align: right;
		overflow: visible;
		//

		li {
			position: relative;
			float: left;
			margin: 0 0 0 $spacing--s;
		}

		//Sub Menus
		ul {
			position: absolute;
			top: 130%;
			left: 50%;
			@include transform(translateX(-50%));

			width: 140px;			
			height: auto;		

			margin: 0;		
			padding: $spacing--xs;			
			border: $border--base;		
			
			text-align: center;
			background: rgba(0, 0, 0, .9);								
			
			opacity: 0;
			visibility: hidden;
			z-index: $z__above-all;			

			@include transition(all 0.2s linear);

			ul {
				position: relative;
		    opacity: 1;
		    top: 1em;
		    visibility: visible;
		    float: left;
		    border: none;
		    width: 100%;
				li {					
					border: none;				
				}
			}

			li {
				position: relative;	
				margin: 0 0 $spacing--xs;
				padding-bottom: $spacing--xs;
				border-bottom: $border--base;			
				width: 100%;				

				&:last-of-type {
					margin: 0;
					padding: 0;
					border: none;
				}

			}

			li:hover > ul {
				// Reset for 3rd level hover - no animation here
				// Same value - see .main-navigation > ul ul ul		
				top: 1em;				
			}

		}

		li:hover > ul {
			// see .main-navigation > ul ul
			opacity: 1;
			top: 110%;
			visibility: visible;	
		}

	}

}