/* Site Wrap */

body.overflow-hidden {
	position: fixed;
	overflow: hidden;
	width: 100%;	
}

.site {	
	@include outer-container(1330px);
	padding: 0 $spacing--s;
	
	@include media($large-screen) {
		padding: 0 $spacing--l;
	}

}

/* Header */

.site-header {
	position: relative;	
	@include span-columns(12);
	@include omega();
	padding: $spacing--s 0 $spacing--l;

	.site-branding {
		@include span-columns(8 of 12);

		.site-logo-link {
			display: block;
			line-height: 1;
			img {
				max-height: 40px;
				width: auto;
			}
		}	
		
		.site-title,
		.site-description {
			display: inline;
		}	

		.site-description {
			margin-left: 8px;
		}	

	}

	@include media($large-screen) {
		padding: $spacing--l 0;
	}

}

/* Content Wrap */

.site-main {
	@include span-columns(12);
}

.error-404,
.no-results {
	@include row();
	margin-bottom: $spacing--l;
	text-align: center;

	.page-content {
		@include span-columns (8 of 12);
		@include shift(2);
	}

	.search-form input[type="submit"] {
		display: none;
	}
}

/* Entry Content */

.hentry {
	position: relative;
	@include span-columns(12);
	@include omega();
	margin-bottom: $spacing--l;

	.row {
		@include row();
		position: relative;

		.sticky-tag {
			position: absolute;			
			top: 0;	
			z-index: 2;
		}

		.featured-image {
			position: relative;
			z-index: 1;
			@include span-columns(12 of 12);
			margin-bottom: $spacing--s;
			text-align: center;	
			opacity: .9;			
			a img {
				@include transition(all 0.2s linear);
			}	
			a:hover img {
				opacity: .8;
			}			
			a {
				display: block;
			}
		}

		.featured-image--empty {
			position: relative;
			z-index: 1;
			@include span-columns(12 of 12);
			margin-bottom: $spacing--s;
			border: $border__base;			
		}

		.entry-header {
			position: relative;
			z-index: 2;
			@include span-columns(12 of 12);			

			.cat-links,
			.tags-links,
			.comments-link,
			.edit-link {
				display: block;
			}
		}		

		
		@include media($large-screen) {

			.featured-image {				
				@include span-columns(9 of 12);	
				margin: 0;			
			}

			.featured-image--empty {				
				@include span-columns(9 of 12);				
				margin: 0;
			}

			.entry-header {
				position: absolute;
				@include span-columns(5 of 12);
				@include omega();
				@include center(y);				

				.cat-links,
				.tags-links,
				.comments-link,
				.edit-link {
					@include span-columns (3 of 5);
				}
			}

		} // END Media Query

	} // END Header Row

	
	.entry-content {
		@include span-columns (12 of 12);		
		margin-top: $spacing--m;
	}

	@include media($large-screen) {

		.entry-content {
			@include span-columns (8 of 12);
			@include shift(2);			
		}

	} // END Media Query

} // END Entry Content

.single .hentry,
.page .hentry {
	margin-bottom: $spacing--m;
}

@include media($large-screen) {

	/* Entry Content - Odd */

	.hentry:nth-of-type(odd) {

		.sticky-tag {
			left: 0;
		}

		.entry-header {		
			right: 0;		

			.posted-on,
			.byline {
				text-align: right;
			}

			.cat-links,
			.tags-links,
			.comments-link,
			.edit-link {			
				@include shift(2 of 5);
				@include omega();
			}

		}
	}

	/* Entry Content - Even */

	.hentry:nth-of-type(even) {	

		.sticky-tag {
			right: 0;
		}

		.featured-image,
		.featured-image--empty {		
			@include shift(3);
		}

		.entry-header {		
			left: 0;		

			.posted-on,
			.byline {
				text-align: left;
			}

			.cat-links,
			.tags-links,
			.comments-link,
			.edit-link {			
				text-align: right;			
			}

		}
	}

} // END Media Query

/* Footer */

.site-footer {
	@include span-columns(12);
	@include omega();
	padding: $spacing--m 0 $spacing--l;	
  border-top: $border__base;

	.footer-branding {
		@include span-columns(12 of 12);
	}

	.footer-widgets {
		@include span-columns(12 of 12);
		@include omega();		

		.widget {
			@include span-columns(12 of 12);
			margin-bottom: $spacing--s;			
			ul {
				list-style: none;
				margin: 0;
				padding-left: 0;
			}
		}
	}

	@include media($medium-screen) {
		
		.footer-branding {
			@include span-columns(4 of 12);
		}

		.footer-widgets {
			@include span-columns(8 of 12);
			@include omega();

			.widget {
				@include span-columns(4 of 8);
				@include omega(2n);				
			}
		}

	}

	@include media($large-screen) {
		
		.footer-branding {
			@include span-columns(3 of 12);
		}

		.footer-widgets {
			@include span-columns(9 of 12);
			@include omega();

			.widget {
				@include span-columns(3 of 9);
				@include omega-reset(2n);
				@include omega(3n);	
			}
		}

	}

	.site-info {
		@include span-columns(12 of 12);
		text-align: center;
		margin-top: $spacing--s;
		opacity: .4;
	}
}
